@import 'src/styles/_colors.scss';
@import 'src/styles/_devices.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.MuiButton-containedPrimary {
		background-color: $color-contrast;

		&:hover {
			background-color: $color-hover;
		}
	}
}


.error {
	color: $color-contrast;
	margin-bottom: 1rem;
}

.title-container {
	margin: 0;
}

.dates-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;

}