$color-pink: #E9657B;
$color-light-pink: #ff5a60;
$color-grey: #666666;
$color-light-grey: #f1f1f1;
$color-dark-grey:#808080;
$color-dark-pink:#46001d;
$color-selection:#f5c3cc;
$color-bg-pink:#fbeef0;
$color-white:#ffffff;


$color-primary: $color-pink;
$color-secondary: $color-grey;
$color-background: $color-light-grey;
$color-text:$color-grey;
$color-contrast-text:$color-dark-grey;