@font-face {
  font-family: 'CuatreCasasRegular';
  src: url('../assets/CuatrecasasText/Regular/Cuatrecasas_Text-Regular_web.ttf') format ('trutype');
  font-weight: medium;
  font-style: normal;
}