@import 'src/styles/_colors.scss';
@import 'src/styles/_devices.scss';

.header {
	background-color: #ebf2f4;
	font-size: calc(10px + 2vmin);
	color: $color-secondary;
	text-align: center;

	.toggle {
		padding: 0 2.5rem;
	}
}