@import 'src/styles/_colors.scss';
@import 'src/styles/_devices.scss';

.header {
	background-color: #ebf2f4;
	font-size: calc(10px + 2vmin);
	color: $color-secondary;
	text-align: center;

	.toggle {
		padding-left: 2rem;

		.MuiSwitch-switchBase,
		.Mui-checked {
			color: $color-hover;

			:hover {
				background-color: $color-hover;
			}
		}

		.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
			background-color: $color-hover;
		}
	}
}

@media screen and (max-width:$screen-xs) {}