@import 'src/styles/_colors.scss';
@import 'src/styles/_devices.scss';

.modal-header-container {
	display: flex;
	margin-bottom: 1rem;

	.MuiTypography-h6 {
		color: black;
	}

	.MuiButtonBase-root {
		margin-left: auto;
	}
}